@tailwind base;
@tailwind components;
@tailwind utilities;

.particle-container {
  display: flex;
  justify-content: space-between;
}

.particle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B82F6;
  animation: particle-animation infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes particle-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(100vw, 100vh) scale(1.5);
  }
  50% {
    transform: translate(100vw, 0) scale(1);
  }
  75% {
    transform: translate(0, 100vh) scale(1.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}